<html> <!-- balise de départ -->
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
        <p>Hi there!</p>
        <!-- <p> est la balise pour les éléments de type paragraphe. </p> permet de fermer chaque paragraphe -->
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>publié: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}

    </body>
</html> <!-- balise fermante -->
